# Directories
/wp-org-assets export-ignore
/.github export-ignore
/tests export-ignore
/node_modules export-ignore

# Files
/.gitattributes export-ignore
/.babelrc export-ignore
/.editorconfig export-ignore
/.eslintrc export-ignore
/.eslintignore export-ignore
/postcss.config.js export-ignore
/.gitignore export-ignore
/webpack.config.js export-ignore
/deploy.sh export-ignore
/CHANGELOG.txt export-ignore
/composer.* export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.ruleset.xml export-ignore
/phpunit.* export-ignore
/README.md export-ignore
