# Unit tests
/tmp
/tests/bin/tmp
.phpunit.result.cache

# Numerous always-ignore extensions
.diff
.err
.orig
.log
.rej
.swo
.swp
.vi
~
.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.vscode

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache
!src/Modules/Cache/
!src/Modules/Cache/**
node_modules
build/
perform.zip
assets/dist/
playwright-report/
test-results/
.wp-env.override.json

# Composer
vendor
