#perform-assets-manager {
	position: fixed;
	z-index: 9999;
	top: 32px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	overflow-y: auto;
}

.perform-assets-manager #perform-assets-manager--form {
	.perform-assets-manager--header {
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px 0 0;

		.perform-assets-manager--logo {
			img {
				width: 180px;
			}
		}

		.perform-assets-manager-header-actions {
			input[type='submit'] {
				background-color: var(--primary-color);
				border: none;
				padding: 8px 25px;
				font-size: 13px;
				color: #fff;
				border-radius: 5px;
				text-transform: uppercase;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}

	
}

#perform-assets-manager--main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.perform-assets-manager--title {
	text-align: center;
	width: 100%;
	background-color: var(--primary-color);
	color: #fff;
	padding: 20px 0;

	p {
		font-size: 16px;
	}
}

.perform-assets-manager--section {
	width: 90%;
	background-color: #fff;
	margin: 15px 0;

	h3 {
		color: var(--primary-color);
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		padding: 10px;
	}

	.perform-assets-manager--group {
		padding: 20px;
		border-bottom: 2px solid var(--primary-color);

		.perform-assets-manager-group--title {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.perform-status-select {
			padding: 3px 18px;
			margin: 5px;
			border-radius: 25px;
			font-size: 1rem;
			border: 2px solid;
		}

		table {
			width: 100%;
			border: none;

			thead {
				tr {
					background-color: #fafafa;

					th {
						color: #71717a;
						text-transform: uppercase;
						font-size: 14px;
					}
				}
			}

			tbody {
				tr {
					border-bottom: 1px solid #e4e4e7;

					td {
						padding: 0 10px;
						font-size: 16px;
					}
				}
			}
		}
	}
}