.perform-welcome-wrap {
	margin: 0 0 0 -20px;
	padding: 0;
}

// Welcome header
.perform-welcome-header {
	background: #FFF;
	height: 100%;
	min-width: 1000px;

	.perform-welcome-header-inner {
		max-width: 900px;
		margin: 0;
		padding: 25px 250px 20px 30px;
		position: relative;
	}

	.perform-welcome-h1 {
		margin: 0 200px 0 0;
		padding: 0;
		color: #32373c;
		line-height: 1.2em;
		font-size: 2.8em;
		font-weight: 600;
		display: inline-block;
		margin-right: 15px !important;

		&:before {
			// background: url('../../images/perform-icon-full-circle.svg');
			width: 36px;
			height: 36px;
			content: ' ';
			display: block;
			float: left;
			margin: 0 10px 0 0;
			position: relative;
			top: 4px;
		}

	}

	.perform-welcome-text {
		font-size: 20px;
		margin: 20px 0 30px;
		padding: 0;
	}

}

// Version Badge
.perform-badge {
	// background: url('../../images/perform-badge.png') no-repeat 0 0 transparent;
	padding-top: 150px;
	height: 52px;
	width: 185px;
	color: #222222;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 30px;
	right: 20px;
	background-color: #f5f5f5;
}

.perform-welcome-content-wrap {
	padding: 0;
	margin: 0;

	&.perform-changelog-wrap {
		width: 1140px;
	}

}

// Getting Started
.perform-welcome-content-intro {
	font-size: 22px;
	font-style: italic;
	color: #8E8E8E;
	margin: 50px 30px 60px;
	max-width: 1400px;
	min-width: 1000px;
}

// iPad showcase.
.perform-ipad-showcase-wrap {
	border: 3px solid #9199a5;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.40);

	.perform-ipad-showcase-inner {
		background: #fafbfb;
		border: 10px solid #1e2026;
		border-radius: 7px;
		display: grid;
	}

	img {
		height: auto;
		max-width: 100%;
	}

}

// Feature section
.perform-feature-section {
	margin: 0;
	padding: 120px 30px;

	&__inner {
		display: flex;
		flex-direction: row;
		margin: 0;
		align-items: center;
		justify-content: center;
		max-width: 1400px;
		min-width: 1000px;
	}

	&:first-of-type {
		padding-top: 0;
	}

	&__step2 {
		background: #FFF;
	}

	span.dashicons {
		width: 16px;
		height: 16px;
		font-size: 14px;
		margin: 6px 0 0 0;
	}

	.perform-feature-section-item {
		display: flex;
		width: 50%;


		&__container {
			padding: 0 60px 0 0;
			margin: 0;
		}

		&__container-right {
			padding-left: 60px;
			padding-right: 20px;
		}

		h3 {
			font-size: 24px;
			font-weight: 500;
			margin: 0 0 20px;

			> .perform-feature-section-item-number {
				background: #FFF;
				width: 40px;
				height: 40px;
				margin: 0 10px 0 0;
				padding: 0;
				line-height: 40px;
				text-align: center;
				color: #777777;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
				border-radius: 50%;
				display: inline-block;
				font-size: 22px;
			}

		}

		p {
			font-size: 16px;
		}

		.perform-welcome-gateway-notice {
			font-size: 12px !important;
			line-height: 16px;
		}

	}


	.perform-feature-btns {
		margin: 30px 0 20px;

		li {
			display: inline;
			margin: 0 25px 0 0;
		}

		.perform-feature-btn-link {
			font-size: 15px;
			line-height: 30px;
		}

	}

}

// Social Media
.social-items-wrap {
	display: inline-block;

	> div {
		display: inline-block;
	}

	.twitter-item-wrap {
		margin: 0 20px 10px 0;
	}
}


// Welcome widgets on Changelog and Getting Started
.perform-welcome-widgets {
	background: #FFF;
	text-align: center;
	padding: 100px 0 160px;

	p {
		font-size: 16px;
	}

	&__inner {
		max-width: 1400px;
	}

	&__heading {
		max-width: 500px;
		margin: 0 auto 100px;

		h2 {
			font-size: 26px;
			font-weight: 500;
		}

		.button {
			margin-top: 10px;
			font-size: 15px;
		}

	}


	&__col {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 0 20px;

		h3 {
			font-size: 22px;
			font-weight: 500;

			&:before {
				background: url('../../images/happy-face.svg') no-repeat center top transparent;
				opacity: 0.3;
				content: ' ';
				width: 100%;
				height: 85px;
				display: inline-block;
				font-size: 80px;
				// @include easing-transition();
			}

		}

		p {
			font-size: 13px;
		}

		&:hover h3:before {
			opacity: 0.45;
		}

	}

	&__addons h3:before {
		// background: url('../../images/admin/shopping-cart.svg') no-repeat center top transparent;
	}

	&__documentation h3:before {
		// background: url('../../images/admin/docs-book.svg') no-repeat center top transparent;
	}

	&__col-inner {
		max-width: 300px;
		margin: 0 auto;
	}

	&__link {
		font-weight: bold;
		font-size: 15px;
	}


}

.perform-contributor-group {
	list-style: none;

	img {
		border-radius: 50%;
	}

	.perform-contributor {
		margin: 0 10px 45px 0;
		display: inline-block;
		width: 140px;
		text-align: center;

		a {
			outline: none;
			box-shadow: none;
		}

		span {
			display: block;
			margin: 3px 0 0;
			font-weight: bold;
		}

	}
}

.perform-newsletter-form-wrap {
	margin: 10px 0 15px 0;
	padding: 10px 15px 15px;
	background: #f1f1f1;
	border: 1px solid #DDD;
	max-width: 900px;

	.perform-newsletter-intro {
		font-size: 14px;
		font-style: italic;
		color: #777;
		margin: 0;
	}

	input[type="email"],
	input[type="text"] {
		width: 100%;
		height: 36px;
	}

	.button {
		width: 100%;
		height: 36px;
	}

	td {
		padding: 0 10px 0 0;
	}

	div.perform-newsletter-confirmation {
		background: #fff;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		margin: 5px 10px 4px 5px;
		padding: 1px 12px;
		border-left: 4px solid #7ad03a;
		display: none;

		> p {
			margin: 0.5em 0;
			padding: 2px;
		}
	}

}

.perform-changelog-wrap {

	.perform-changelog {
		max-height: 510px;
		margin: 0 0 100px 30px;
		padding: 20px;
		overflow-y: scroll;
		overflow-x: hidden;
		font-size: 18px;
		line-height: 28px;
		background: #fff;
		border: 1px solid #DDD;

		br:first-child {
			display: none;

			+ br {
				display: none;
			}
		}

		h4 {
			margin: 0 0 10px;
			border-bottom: 1px solid #e2e2e2;
			padding: 0 0 6px;
			font-size: 20px;

			+ br {
				display: none;
			}

		}

	}
}

.dashboard_page_perform-getting-started,
.dashboard_page_perform-changelog {

	#wpbody-content {
		padding-bottom: 0;
	}

}
