.perform-assets-manager-wrap {
	position: fixed;
	z-index: 9999;
	top: 32px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	overflow-y: auto;

  .perform-assets-manager {
		background: #EEF2F5;
		font-size: 14px;
		line-height: 1.5em;
		color: #4a545a;
		min-height: 100%;

		.perform-assets-manager--logo {
			float: left;
			width: 20%;
		}

		.perform-assets-manager--header {
			width: 100%;
			background: #282E34;
			padding: 15px;
			display: block;
			overflow: hidden;

			.perform-assets-manager--menu {
				float: left;
				width: 78%;
				margin: 0;

				.perform-assets-manager--menu-item {
					list-style: none;
					float: left;
					padding: 10px 20px;

					a {
						color: #4A89DD;
						text-decoration: none;
						border: none;
						font-size: 16px;
					}
				}
			}

			h2 {
				font-size: 24px;
				margin: 0px 0px 10px 0px;
				color: #ffffff;
				font-weight: bold;
			}

			span {
				background: #ED5464;
				color: #ffffff;
				padding: 5px;
				vertical-align: middle;
				font-size: 10px;
				margin-left: 5px;
			}

			p {
				font-size: 14px;
				color: #4a545a;
				font-style: italic;
				margin: 0px auto 15px auto;
			}

		}


	#perform-assets-manager-close {
	  position: absolute;
	  top: 0px;
	  right: 0px;
	  height: 26px;
	  width: 26px;

	  img {
		height: 26px;
		width: 26px;
	  }
	}

	#perform-assets-manager--main {
		padding: 25px 50px;

		.perform-assets-manager-group--status {
			select {
				border: 2px solid #27ae60;
				outline: none;

				&.disabled {
					border: 2px solid #ED5464;
				}
			}
		}

	  	.perform-assets-manager--title {
			text-align: center;
		}

		.perform-assets-manager--section {
			> h3 {
				background-color: #222222;
				color: #ffffff;
				padding: 10px 15px;
			}

			.perform-assets-manager--group {
				margin: 0;
				border-bottom: 1px solid #EEF2F5;

				.perform-assets-manager-group--title {
					display: block;
					overflow: hidden;
					margin-bottom: 10px;

					> h3 {
						float: left;
					}
				}

				.perform-assets-manager--status {

					select {
						border: 2px solid #27ae60;
						outline: none;

						&.disabled {
							border: 2px solid #ED5464;
						}
					}
				}
			}
		}



	  .perform-assets-manager--row {

	  }

	  .perform-assets-manager--group {
		background-color: #FFFFFF;
		padding: 20px;
		margin: 10px 0;
	  }
	}
  }


}
