.perform-assets-manager-wrap {
	position: fixed;
	z-index: 9999;
	top: 32px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	overflow-y: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	table {
		border: 1px solid #222222;
		border-spacing: 0;
		border-collapse: collapse;

		tr {
			@extend table;

			th {
				@extend table;
			}

			td {
				padding: 5px;
				@extend table;
			}
		}
	}

	select {
		font-size: 16px;
	}

	h3 {
		font-size: 22px;
	}

  .perform-assets-manager {
		background: #EEF2F5;
		font-size: 14px;
		line-height: 1.5em;
		color: #4a545a;
		min-height: 100%;

		.perform-assets-manager--logo {
			float: left;
			width: 20%;
			font-size: 28px;
			margin: 10px 0;
			color: #fff;
			font-weight: 700;
			display: block;
			overflow: hidden;
			text-transform: uppercase;
		}

		.perform-assets-manager--header {
			width: 100%;
			background: #282E34;
			padding: 10px 50px;
			display: block;
			overflow: hidden;
			position: fixed;

			.perform-assets-manager-header-actions {
				float: right;

				input[type="submit"] {
					border-radius: 0;
					font-size: 18px;
					padding: 10px 20px;
				}
			}

			.perform-assets-manager--menu {
				float: left;
				width: 78%;
				margin: 0;

				.perform-assets-manager--menu-item {
					list-style: none;
					float: left;
					padding: 10px 20px;

					a {
						color: #4A89DD;
						text-decoration: none;
						border: none;
						font-size: 16px;
					}
				}
			}

			span {
				background: #ED5464;
				color: #ffffff;
				padding: 5px;
				vertical-align: middle;
				font-size: 10px;
				margin-left: 5px;
			}

			p {
				font-size: 14px;
				color: #4a545a;
				font-style: italic;
				margin: 0px auto 15px auto;
			}

		}


	#perform-assets-manager-close {
	  position: absolute;
	  top: 0px;
	  right: 0px;
	  height: 26px;
	  width: 26px;

	  img {
		height: 26px;
		width: 26px;
	  }
	}

	#perform-assets-manager--main {
		padding: 25px 50px;
		padding-top: 80px;

		.perform-assets-manager-group--status {
			select {
				border: 2px solid #27ae60;
				outline: none;

				&.disabled {
					border: 2px solid #ED5464;
				}
			}
		}

	  	.perform-assets-manager--title {
			text-align: center;

			p {
				margin: 0.5rem 0;
			}

			h3 {
				margin: 0.5rem 0;
			}
		}

		.perform-assets-manager--section {
			> h3 {
				background-color: #222222;
				color: #ffffff;
				padding: 10px 15px;
				margin-bottom: 0;
			}

			.perform-assets-manager--group {
				margin: 0;
				border-bottom: 1px solid #EEF2F5;

				.perform-assets-manager-group--title {
					display: block;
					overflow: hidden;
					margin-bottom: 10px;

					> h4 {
						float: left;
						margin: 0;
						font-size: 16px;
					}
				}

				.perform-assets-manager--status {

					select {
						border: 2px solid #27ae60;
						outline: none;

						&.disabled {
							border: 2px solid #ED5464;
						}
					}
				}
			}
		}



	  .perform-assets-manager--row {

	  }

	  .perform-assets-manager--group {
		background-color: #FFFFFF;
		padding: 20px;
		margin: 10px 0;
	  }

	  .perform-assets-manager-disable-assets {

		.perform-assets-manager-disable-asset-option-selection {
			margin: 5px 0;
		}

		.perform-assets-manager--exceptions {
			margin: 10px 0;
			border: 1px solid #CCCCCC;

			.perform-assets-manager-exceptions--title {
				text-align: center;
				border-bottom: 1px solid #CCCCCC;
			}

			.perform-assets-manager-exception--options {
				padding: 15px;
			}
		}

		p {
			margin: 5px 0;
			text-align: center;
			background: #F8F8F8;
			padding: 5px;
		}

	}
	}
  }


}
