.perform-dashboard-header {
    background-color: var(--bg-color);
    margin-left: -20px;

    .perform-dashboard-header-title {
        img {
            width: 180px;
        }
    }

    .perform-header-navigation {
        display: flex;
        align-items: center;
        padding: 0 20px;
        gap: 10px;
        background-color: var(--secondary-color);
        margin: 0;

        li {
            margin: 0;
            
            a {
                display: block;
                padding: 10px 5px;
                color: var(--text-color);
                text-decoration: none;
    
                &.active {
                    background-color: var(--menu-color);
                    font-weight: 700;
                }
    
                &:hover {
                    background-color: var(--menu-hover-color);
                }
            }
        }
    }
}