.perform-settings-page {
	margin-left: -20px;
}

.perform-settings-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
	background-color: var(--white-color);
	padding: 0px 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.perform-plugin-version {
	font-size: 10px;
	color: var(--white-color);
	background-color: var(--primary-color);
	padding: 3px 8px;
	border-radius: 5px;
}

.perform-settings-tab-panel {
	background-color: var(--bg-color);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.perform-admin-settings-wrap {
  display: flex;
}

.perform-tooltip {
  display: inline-flex;
  width: 15px;
  height: 15px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-decoration: none;
  color: var(--text-color);
}
