.perform-admin-settings-wrap {
  display: flex;
}

.perform-tooltip {
  display: inline-flex;
  width: 15px;
  height: 15px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-decoration: none;
  color: var(--text-color);
}
